@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url("/fonts/Gagalin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url("/fonts/Lifehack-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

img {
  max-height: 100%;
}

a {
  text-decoration: none;
}

.first-block {
  background-image: url(./../img/bg/first-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 768px) {
  .first-block {
    background-image: url(./../img/bg/welcome-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.two-block {
  background-image: url(./../img/bg/two-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 768px) {
  .two-block {
    background-image: url(./../img/bg/best-bg-768.jpg);
  }
}

@media screen and (max-width: 480px) {
  .two-block {
    background-image: url(./../img/bg/best-bg-phone.jpg);
  }
}

.six-block {
  height: 100vh;
  width: 100%;
}

.three-block {
  background-color: #f9b43b;
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.four-block {
  background-image: url(./../img/bg/four-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.eight-block {
  background-image: url(./../img/bg/six-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}

.ten-block {
  background-image: url(./../img/bg/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.five-block {
  background-image: url(./../img/bg/menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.conteiner {
  max-width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .conteiner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  background-color: #e45028;
  width: 97px;
  height: 35px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}

.button:hover {
  background-color: #c1401e;
}

.flex-centr {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .flex-centr {
    align-items: flex-start;
  }
}

.points {
  right: 5vw;
  top: 10vh;
  z-index: 10;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .points {
    display: none;
    overflow: hidden;
  }
}

.points__list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.points__item {
  position: relative;
  height: 1rem;
  width: 1rem;
  z-index: 10;
  cursor: pointer;
}

.points__link {
  width: 6px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.points__link:before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}

.points__link:hover:before {
  content: "";
  opacity: 1;
}

.main {
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-burger {
  background-color: #ffffff;
  border: 0;
  background: transparent;
  display: none;
}

@media screen and (max-width: 900px) {
  .nav-burger {
    display: flex;
    order: 2;
    margin-left: 30px;
    cursor: pointer;
  }
}

.nav-burger span {
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  display: block;
  position: relative;
}

.nav-burger span::after {
  content: "";
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 9px;
}

.nav-burger span::before {
  content: "";
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  display: block;
  position: absolute;
  bottom: 9px;
}

.nav__item {
  display: flex;
  list-style: none;
  max-width: 700px;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .nav__item {
    display: none;
  }
}

.nav__link {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
}

.nav__link:after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.nav__list:first-child .nav__link:after {
  content: "";
  display: none;
}

.nav__list:last-child .nav__link {
  margin-right: 15px;
}

.logo {
  margin-top: 12px;
}

.welcome {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  height: 55vh;
}

@media screen and (max-width: 768px) {
  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }
}

.welcome__burger {
  background: url(/img/bg/burger-bg.png);
  height: 83%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .welcome__burger {
    margin-bottom: 40px;
    margin-right: 0px;
    background: url(/img/bg/welcome-burger-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 50%;
  }
}

@media screen and (max-width: 480px) {
  .welcome__burger {
    margin-bottom: 40px;
  }
}

.welcome__main-title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 85px;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
}

@media screen and (max-width: 480px) {
  .welcome__main-title {
    line-height: 60px;
    font-size: 63px;
  }
}

@media screen and (max-width: 380px) {
  .welcome__main-title {
    font-size: 50px;
    margin-bottom: 0px;
  }
}

.welcome__subtitle {
  color: #ffffff;
  font-family: Lifehack;
  font-size: 65px;
  font-weight: 500;
  letter-spacing: -1.63px;
  line-height: 85px;
  margin: 0px;
}

@media screen and (max-width: 480px) {
  .welcome__subtitle {
    font-size: 58px;
    letter-spacing: -1.35px;
    line-height: 60px;
  }
}

@media screen and (max-width: 380px) {
  .welcome__subtitle {
    font-size: 50px;
    letter-spacing: -1.35px;
  }
}

.welcome__img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.welcome__titles {
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .welcome__titles {
    text-align: center;
    height: 50%;
  }
}

.first-block__arrow-down {
  position: absolute;
  height: 16px;
  width: 29px;
  background-image: url("/img/icons/arrow-scroll.svg");
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.best {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .best {
    padding-top: 100px;
  }
}

@media screen and (max-width: 350px) {
  .best {
    padding-top: 50px;
  }
}

.best__title {
  color: #2f3234;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 64.05px;
  text-align: center;
  margin-top: 0px;
}

@media screen and (max-width: 480px) {
  .best__title {
    font-family: Gagalin;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 30px;
  }
}

.best__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .best__list {
    flex-direction: column;
  }
}

.best__list li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 480px) {
  .best__text-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15px;
  }
}

.best__item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .best__item {
    flex-direction: row;
  }
}

.best__icon-meat {
  background-image: url("/img/icons/meat.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 97px;
  height: 89px;
}

.best__icon-hand {
  background-image: url("/img/icons/hand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 97px;
  height: 89px;
}

.best__icon-natural {
  background-image: url("/img/icons/natural.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 97px;
  height: 89px;
}

.best__subtitle {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .best__subtitle {
    margin: 0;
    text-align: left;
  }
}

.best__desc {
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.02px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .best__desc {
    text-align: left;
  }
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}

.reviews__item {
  overflow: hidden;
  flex: 25%;
  width: 100%;
  filter: grayscale(100%);
}

@media screen and (max-width: 768px) {
  .reviews__item {
    flex-direction: column;
    flex: 50%;
  }
}

.reviews--img-1 {
  background: url("./../img/bg/reviews-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .reviews--img-1 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
  }
}

.reviews--img-2 {
  background: url("./../img/bg/reviews-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: -100px;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .reviews--img-2 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
    background-position: 0px;
  }
}

.reviews--img-3 {
  background: url("./../img/bg/reviews-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .reviews--img-3 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
  }
}

.reviews--img-4 {
  background: url("./../img/bg/reviews-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .reviews--img-4 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
  }
}

.reviews--img-5 {
  background: url("./../img/bg/reviews-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .reviews--img-5 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
  }
}

.reviews--img-6 {
  background: url("./../img/bg/reviews-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .reviews--img-6 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
  }
}

.reviews--img-7 {
  background: url("./../img/bg/reviews-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .reviews--img-7 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
  }
}

.reviews--img-8 {
  background: url("./../img/bg/reviews-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 25vw;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .reviews--img-8 {
    flex-direction: column;
    flex: 50%;
    height: 25vh;
  }
}

.reviews__title {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.11px;
}

@media screen and (max-width: 768px) {
  .reviews__title {
    margin-top: 10;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  .reviews__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
  }
}

.reviews__desc {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media screen and (max-width: 480px) {
  .reviews__desc {
    display: none;
    overflow: hidden;
  }
}

.reviews__wrapper {
  padding-left: 20px;
  padding-top: 50px;
  padding-right: 33px;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 0;
  transition: 1s;
  cursor: pointer;
}

.reviews__wrapper:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .reviews__wrapper {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
}

.button--reviews {
  background-color: #2f3234;
  transition: 1s;
}

@media screen and (max-width: 480px) {
  .button--reviews {
    margin: 0 auto;
    display: block;
  }
}

.button--reviews:hover {
  background-color: #1f2122;
}

.burger {
  display: flex;
  align-items: center;
  position: relative;
}

.burger-controlls__next {
  position: absolute;
  left: 105%;
  height: 16px;
  width: 29px;
  background-image: url("/img/icons/arrow-scroll.svg");
  transform: rotate(-90deg);
  cursor: pointer;
}

.burger-controlls__prev {
  position: absolute;
  left: -5%;
  height: 16px;
  width: 29px;
  background-image: url("/img/icons/arrow-scroll.svg");
  transform: rotate(90deg);
  cursor: pointer;
}

.burger__kkal-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  text-align: center;
  opacity: 0.5;
  vertical-align: middle;
  font-family: Gagalin;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.burger__kkal {
  height: 60px;
  background-image: url(/img/icons/kkal.svg);
  background-size: cover;
  width: 60px;
  line-height: 72px;
}

.burger__kkal-text {
  font-size: 14px;
  font-family: Gagalin;
  color: #ffffff;
  text-align: center;
}

.burger__title {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 63.93px;
  margin: 0;
  margin-bottom: 40px;
}

.burger__text {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.97px;
  margin: 0;
  margin-bottom: 35px;
}

.burger__price {
  color: #e35028;
  font-family: Gagalin;
  font-size: 30px;
  font-weight: 400;
  line-height: 28.08px;
  display: flex;
  height: 52px;
  align-items: baseline;
}

.burger__price-value {
  font-size: 72px;
  letter-spacing: -1.79px;
  padding-right: 5px;
}

.burger__price-currency {
  letter-spacing: -0.75px;
  margin-right: 29px;
}

.burger__composition {
  width: 90px;
  height: 90px;
  background-color: rgba(227, 80, 40, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  background-image: url(/img/icons/burger.svg);
  background-repeat: no-repeat;
  background-position: center 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.11px;
  transition: 1s;
}

.burger__composition:hover {
  background-color: #e35028;
  cursor: pointer;
}

.dropdown__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: 1s;
  border-radius: 5px;
  opacity: 0.4;
  padding: 15px;
}

.dropdown__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dropdown:hover .dropdown__list {
  width: 270px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #ffffff;
  opacity: 0.9;
  cursor: pointer;
}

.dropdown__text {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  flex: 1;
}

.dropdown__weight {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.dropdown__icon {
  margin-right: 22px;
  width: 40px;
  height: 40px;
}

.team {
  position: absolute;
  width: 50%;
  height: 100vh;
  background: rgba(49, 52, 54, 0.9);
  right: 0;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .team__list {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
}

.team__link {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.13px;
  cursor: pointer;
  position: relative;
}

.team__link::after {
  content: "";
  border: 5px solid transparent;
  border-top: 7px solid #f9b43b;
  position: absolute;
  left: -20px;
  top: 7px;
}

@media screen and (max-width: 768px) {
  .team__link {
    font-size: 25px;
    line-height: 29.13px;
  }
}

.team__link::after {
  left: -19px;
  top: 13px;
}

.team__title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 64.04px;
}

.team__wrapper {
  margin-left: 80px;
}

@media screen and (max-width: 768px) {
  .team__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
}

.team__item {
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .team__item {
    text-align: center;
  }
}

.team__item-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team__dropdown {
  display: block;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .team__dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__item-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .team__item-img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.team__item-desc {
  display: inline-block;
  text-align: left;
  max-width: 210px;
  color: #ffffff;
  font-family: "Ubuntu" ,sans-serif;
  line-height: 24.01px;
}

@media screen and (max-width: 768px) {
  .team__item-desc {
    text-align: center;
    max-width: 330px;
  }
}

.team__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24.01px;
  margin-top: 0;
}

.team__item-text {
  font-weight: 300;
}

.form {
  display: flex;
  margin: 0 auto;
}

.delivery-wrapper {
  display: flex;
  flex-direction: column;
}

.delivery__title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 63.99px;
  text-align: center;
}

.delivery-block {
  width: 50%;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}

.delivery-block__row {
  display: flex;
}

.delivery-block__group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.delivery-block__label {
  text-align: left;
}

.delivery-block__input {
  height: 35px;
  border-radius: 5px;
  width: 100%;
  padding-left: 20px;
  outline: none;
  border: 1px solid #d1cfcb;
}

.delivery-block__input:focus {
  border: 2px solid #f9b43b;
}

.delivery-block__comments {
  height: 109px;
  border: 1px solid #d1cfcb;
  background-color: #ffffff;
  resize: none;
  border-radius: 5px;
  border: 1px solid #d1cfcb;
  outline: none;
}

.delivery-block__comments:focus {
  border: 2px solid #f9b43b;
}

.delivery-block__radio-row {
  display: flex;
  margin-bottom: 15px;
}

.delivery-block__radio-input {
  display: none;
}

.delivery-block__radio-label {
  position: relative;
  padding-left: 25px;
  margin-right: 45px;
}

.delivery-block__radio-label:before {
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  top: 0;
}

input[type="radio"]:checked + .delivery-block__radio-label:after {
  opacity: 1;
}

.delivery-block__radio-label:after {
  content: "";
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #e35028;
  position: absolute;
  left: 0px;
  top: 0;
  transform: translate(50%, 50%);
  opacity: 0;
}

.delivery-block__checkbox-row {
  display: flex;
  margin-bottom: 20px;
}

.delivery-block__checkbox-input {
  display: none;
}

.delivery-block__checkbox-label {
  position: relative;
  padding-left: 25px;
}

.delivery-block__checkbox-label:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
}

input[type="checkbox"]:checked + .delivery-block__checkbox-label:after {
  opacity: 1;
}

.delivery-block__checkbox-label:after {
  content: "";
  background-image: url("/img/icons/checkbox-icon.png");
  width: 11px;
  height: 9px;
  position: absolute;
  left: 2px;
  top: 3px;
  opacity: 0;
}

.footer {
  position: absolute;
  background-image: url("/img/bg/footer-bg.jpg");
  bottom: 0;
  width: 100%;
  min-height: 60px;
  color: #ffffff;
}

.footer-wrapper {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 60px;
}

.contacts {
  width: 50%;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.social {
  width: 50%;
}

.social__list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.social__item {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.social__link--vk {
  background-image: url("/img/icons/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 13px;
  width: 23px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link--facebook {
  background-image: url("/img/icons/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link--insta {
  background-image: url("/img/icons/inst.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link--twitter {
  background-image: url("/img/icons/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 20px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link:hover {
  opacity: 1;
}

.contacts__link {
  color: #e45028;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
}

.contacts__link::after {
  content: "";
  position: absolute;
  background-image: url("/img/icons/phone-icon.png");
  height: 11px;
  width: 12px;
  left: 0;
  top: 3px;
}

.menu-title {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  padding-left: 10%;
  padding-top: 10%;
  margin: 0;
}

.accordeon {
  position: absolute;
  right: 0;
  top: 0;
}

.accordeon__item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.accordeon__list {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  cursor: pointer;
}

.accordeon__list--bg1 {
  background-image: url(/img/bg/accordeon-bg1.jpg);
  width: 80px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.accordeon__list--bg2 {
  background-image: url(/img/bg/accordeon-bg2.jpg);
  width: 80px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.accordeon__list--bg3 {
  background-image: url(/img/bg/accordeon-bg3.jpg);
  width: 80px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordeon__link {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 40px;
  font-weight: 400;
  line-height: 63.75px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.accordeon__content {
  background: rgba(58, 61, 62, 0.9);
  width: 0px;
  overflow: hidden;
  height: 100vh;
}

.accordeon__desc {
  max-width: 471px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 60px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
