.footer {
  position: absolute;
  background-image: url("./../img/bg/footer-bg.jpg");
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  color: #ffffff;
}

.footer-wrapper {
  max-width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 60px;
}

@media screen and (max-width: 468px) {
  .footer-wrapper {
    flex-direction: column;
  }
}

.contacts {
  width: 60%;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media screen and (max-width: 468px) {
  .contacts {
    text-align: center;
    margin-bottom: 15px;
    justify-content: center;
    width: 100%;
  }
}

.social {
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 468px) {
  .social {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
  }
}

.social__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__list li:first-child {
  padding-left: 0px;
}

.social__item {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.social__link--vk {
  background-image: url("./../img/icons/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 13px;
  width: 23px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link--facebook {
  background-image: url("./../img/icons/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link--insta {
  background-image: url("./../img/icons/inst.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link--twitter {
  background-image: url("./../img/icons/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 20px;
  display: block;
  opacity: 0.3;
  transition: 1s;
}

.social__link:hover {
  opacity: 1;
}

.contacts__link {
  color: #e45028;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
}

.contacts__link::after {
  content: "";
  position: absolute;
  background-image: url("./../img/icons/phone-icon.png");
  height: 11px;
  width: 12px;
  left: 0;
  top: 3px;
}
