.burger__list
    padding: 0
    position: relative
    margin: 0
    display: flex 
    justify-content: center
    height: 100%
    overflow: hidden

        
.burger__arrow-back       
        min-height: 16px
        min-width: 29px
        background-image: url(./../img/icons/arrow-scroll.svg)
        transform: rotate(90deg)
        cursor: pointer
        display: flex
        align-items: center
        background-repeat: no-repeat
        

.burger__arrow-forward      
        min-height: 16px
        min-width: 29px
        background-image: url(./../img/icons/arrow-scroll.svg)
        transform: rotate(-90deg)
        cursor: pointer
        display: flex
        align-items: center
        background-repeat: no-repeat

.burger__arrow
    height: 100%
    min-width: 40px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    @media screen and (max-width: 768px)
        min-width: 30px

    
.burger__item
    display: flex !important
    height: 100vh
    align-items: center
    position: relative
    overflow: hidden
    @media screen and (max-width: 768px)
        flex-direction: column
        justify-content: center


.burger-controlls__next
    position: absolute
    right: -5%
    height: 15px
    width: 29px
    background-image: url(./../img/icons/arrow-scroll.svg)
    transform: rotate(-90deg)
    cursor: pointer
    top: 45%


.burger-controlls__prev
    position: absolute
    left: -5%
    height: 16px
    width: 29px
    background-image: url("./../img/icons/arrow-scroll.svg")
    transform: rotate(90deg)
    cursor: pointer
    top: 45%
    

.burger__kkal-wrapper
    position: absolute
    bottom: -30%
    left: 0
    
    text-align: center
    opacity: 0.5
    vertical-align: middle
    font-family: Gagalin
    font-size: 20px
    color: #ffffff
    display: flex
    flex-direction: column
    @media screen and (max-width: 768px)
        left: 90%
        bottom: 80%
        
        

.burger__kkal
    height: 60px
    background-image: url(./../img/icons/kkal.svg)
    background-size: cover
    width: 60px
    line-height: 72px

.burger__kkal-text
    font-size: 14px
    font-family: Gagalin
    color: #ffffff
    text-align: center

.burger__block
    position: relative
    width: 50%
    @media screen and (max-width: 768px)
        width: 100%

.burger__img
    width: 100%
    
    

.burger__title 
    color: #ffffff
    font-family: Gagalin
    font-size: 72px
    font-weight: 400
    line-height: 63.93px
    margin: 0
    margin-bottom: 40px

.burger__text
    color: #ffffff
    font-family: Ubuntu
    font-size: 14px
    font-weight: 300
    line-height: 23.97px
    margin: 0
    margin-bottom: 35px
    @media screen and (max-width: 768px)
        max-width: 540px
    

.burger__price
    color: #e35028
    font-family: Gagalin
    font-size: 30px
    font-weight: 400
    line-height: 28.08px
    display: flex
    height: 52px
    align-items: baseline
    @media screen and (max-width: 768px)
        justify-content: center
        font-size: 24px
    

.burger__price-value
    font-size: 72px
    letter-spacing: -1.79px
    padding-right: 5px
    @media screen and (max-width: 480px)
        font-size: 50px
        letter-spacing: -1.25px
    

.burger__price-currency 
    letter-spacing: -0.75px
    margin-right: 29px
    @media screen and (max-width: 768px)
        margin-right: 10px
        letter-spacing: -0.6px

.burger__composition
    width: 90px
    height: 90px
    background-color: rgba(227, 80, 40, 0.4)
    position: absolute
    top: -30%
    left: 0
    
    border-radius: 5px
    background-image: url(./../img/icons/burger.svg)
    background-repeat: no-repeat
    background-position: center 15px
    display: flex
    align-items: flex-end
    justify-content: center
    color: #ffffff
    font-family: Gagalin
    font-size: 14px
    font-weight: 400
    line-height: 28.11px
    transition: 1s
    
    

.burger__composition:hover
    background-color: rgba(227, 80, 40, 1)
    cursor: pointer

.burger__wrapper
    position: relative
    

  




 

   

    
