.header 
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 11px
   

.nav
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    @media screen and (max-width: 920px)
        display: none



        

.nav__item 
    display: flex
    list-style: none
    max-width: 700px
    justify-content: space-around
    padding: 0
    margin: 0


    
   
   
    

           
.nav__link 
    color: #ffffff
    font-family: Ubuntu
    font-size: 13px
    font-weight: 500
    line-height: 30px
    text-transform: uppercase
    margin-right: 35px
    position: relative
    

.nav__link 
     &:after
        content: ""
        height: 4px
        width: 4px
        background-color: #ffffff
        border-radius: 50%
        position: absolute
        left: -23px
        bottom: 50%
        transform: translate(50%,50%)
       

.nav__list:first-child .nav__link:after
        content: ""
        display: none
.nav__list:last-child .nav__link
        margin-right: 15px

.logo 
    z-index: 99
    
.header__buttons
    display: flex
    justify-content: flex-end

