.welcome__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    height: 75vh
    @media screen and (max-width: 768px)
        display: flex
        flex-direction: column
        align-items: center
        height: 80vh
        
    

.welcome__burger
    background: url(./../img/bg/burger-bg.png)
    height: 100%
    width: 50%
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    margin-right: 1.25rem
    margin-bottom: 4.375rem
    @media screen and (max-width: 768px)
        margin-bottom: 2.5rem
        margin-right: 0px
        background: url(./../img/bg/welcome-burger-bg.png)
        width: 100%
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        height: 50%
    @media screen and (max-width: 480px)
        margin-bottom: 2.5rem     

.welcome__subtitle
    color: #ffffff
    font-family: Lifehack
    font-size: 4rem
    font-weight: 500
    letter-spacing: -0.1019rem
    line-height: 1
    margin: 0px
    @media screen and (max-width: 480px)
        font-size: 3.625rem
        letter-spacing: -0.0844rem
        line-height: 3.75rem
    @media screen and (max-width: 380px)
        font-size: 3.125rem
        letter-spacing: -0.0844rem

.welcome__img 
    display: flex
    max-width: 100%
    height: auto

.welcome__titles 
   width: 50%
   @media screen and (max-width: 768px)
        text-align: center
        height: 50%
        width: 100%

   

.first-block__arrow-down 
    position: absolute
    height: 1rem
    width: 1.8125rem
    background-image: url(./../img/icons/arrow-scroll.svg)
    bottom: 2rem
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer

  
.animation-arrow
    animation-name: animation-arrow
    animation-direction: alternate
    animation-iteration-count: infinite
    animation-duration: 1s
    animation-timing-function: linear

    
@keyframes animation-arrow 
    0% 
        transform: translateY(-10px)
    100%
        transform: translateY(10px)
  
